@font-face {
  font-family: "BNR";
  src: url(../public/BebasNeue-Regular.ttf);
}



/* ANIMATIONS */

@keyframes slideDown {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}


@keyframes slideUp {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideLeftFooter {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

/* FADE IN AND SLIDE IN  */
.fade-in {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.slide-left {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

 .slide-right {

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


.slide-left, .slide-right {
  transition: opacity 250ms ease-in, -webkit-transform 500ms ease-in;
  transition: opacity 250ms ease-in, transform 500ms ease-in;
 
  opacity: 0;
}

.slide-left.appear, .slide-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* END OF FADE IN AND SLIDE IN*/

/*                BASICS */

html,body {
  background-color: white;
  font-family: "BNR";
}

a {
  text-decoration: none;
}

h1 {
	padding-top: 8%;
	text-align: center;
	color: Black;
	font-size: 40px;
}

h2 {
  
  display: relative;
  width: auto;
  height: auto;
  color: Black;
  font-size: 65px;
  text-align: center;
  line-height: 0px;

  text-shadow: 1 1 3px white;
  letter-spacing: 3px;
}

h3 {
  
  display: relative;
  width: auto;
  height: auto;
  text-align: center;
  color: Black;
  font-size: 40px;

  line-height: 2px;
  text-shadow: 0 0 3px white;
  letter-spacing: 2px;
}

h4{
	text-align: center;
}

p {
  text-shadow: 0 0 3px white;
  font-size: 22px;

  line-height: 0;
}

/*                END OF BASICS */

/*                HEADER*/

header {
  width: 100%;
  height: 80px;
  ;
}

.dropdowncontent {
  display: none;
  background-color: #f9f9f9;
  min-width: 120px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  border-radius: 25px;
}

.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  
}

.dropdowncontent a:hover {
  color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(1, 1, 1, 0.6),
    rgba(1, 1, 1, 1)
  );
}

.dropdown:hover .dropdowncontent {
  top: 50px;
  display: block;
  background-color: white;
}

.dropdownbtn {
  font-size: 30px;
  justify-content: center;
  padding-bottom: 5px;
  background-color: black;
  border-radius: 180px;
  color: white;
}

.dropdown {
  animation: slideRight 3s ease;
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: black;
  left: 85px;
  top: 35px;
  box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  z-index: 3;
}

.logo {
  width: 100%;
  height: 125px;
  position: fixed;
  margin-right: 45%;
  display: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2;
 top: 0;
 padding-bottom: 15px;
}

.cartimg {
  width: 60px;
  height: 60px;
}

h12 {
  color: white;
}

.cart:hover h12{
  color:black;
}

.cart:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, .85)
  );
  border: solid black;
  transform: translateY(3.5px);
  transform: translateX(3.5px);
}

.cart {
  animation: slideLeft 5s ease;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 55px;
  top: 35px;
  box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 90px;
  font-size: 20px;
  z-index: 3;
}
/*                END OF HEADER */

/*                FOOTER 
animation: slideLeftFooter 4s ease;
*/

.footerwrapper {
bottom: 0;
  position: fixed;
  width: 100%;
  height: 260px;

  z-index: 2;
}

.footertitle {
  animation: slideUp 2s ease;
  z-index: 3;
  display: block;
  width: 100%;
  height: 10px;
  width: 40%;
  position: fixed;
  bottom: 110px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-size: 25px;

}
  

.footer {
  animation: slideUp 2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 20%;
  min-width: 330px;
  margin-left: 40%;
  margin-right: 40%;
  padding-bottom: 90px;
  z-index: 3;
  padding-top: 180px;
  
}

.social:hover {
  transform: translateY(-10px);
  z-index: 3;
}

.social {
  width: 60px;
  height: 60px;
  padding: 10px;
  transition: transform 0.3s;
  z-index: 3;
  bottom: 0;
  
}

/*                END OF FOOTER */

/*                HOME PAGE*/

.mainimage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.productimg {
  width: 300px;
  height: auto;
  padding: 20px;
}

.productdescription{
  display: none;
}

.productrow {
  padding-top: 300px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.size:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  color: black;
}

.add:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  color: black;
}

.size {
  display: inline-block;
  text-align: center;
  font-family: "BNR";
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 180px;
}

.clickedbutton{
  display: inline-block;
  text-align: center;
  font-family: "BNR";
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 180px;
}

.sizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-left: 30px;
  height: auto;
}

.price {
  padding-left: 15px;
  font-size: 20px;
  height: auto;
  top: 100px;
  display: inline-block;
  font-family: "BNR";
}

.add {
  display: inline-block;
  margin-left: 15px;
  font-size: 17px;
  background-color: black;
  color: white;

  font-family: "BNR";
  width: 40px;
  height: 40px;
  text-align: center;
}

/*                END OF HOMEPAGE */


/* CHECKOUT PAGE */

.checkout{
	margin-top: 140px;
  opacity: 1;
}


.checkoutcol{
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.checkoutrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  
}

.checkoutimglabel{
  width: 140px;
  color: white;
  
}

.checkoutimg{
	width: 140px;
}



.checkoutlabel{
	font-size: 30px;
	font-weight: bold;
  
}

.checkoutitemlabel{
  width: 40%;
  border-bottom: solid 1px black;
}

.checkoutitem{
  width: 40%;
  font-size: 25px;
  font-family: "BNR";
}

.checkoutsizelabel{
  width: 10%;
  border-bottom: solid 1px black;
}
.checkoutsize{
  width: 10%;
  font-family: "BNR";
  font-size: 25px;
}

.checkoutpricelabel{
  width: 10%;
  border-bottom: solid 1px black;
}

.checkoutprice{
  width: 10%;
  font-family: "BNR";
  font-size: 25px;
}

.checkoutquantitylabel{
  width: 20%;
  border-bottom: solid 1px black;
}

.checkoutquantity{
	border-style: none;
  font-family: "BNR";
  width: 20%;
  font-size: 25px;
}

.checkoutremovebtnlabel{
  width: 50px;
  color: white;
}

.checkoutremovebtn:hover{
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  color: black;
}

.checkoutremovebtn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: "BNR";
  font-size: 14px;
  color: white;
  background-color: black;
  text-align: center;
}

.checkoutrowtotal{
  font-size: 40px;
  font-family: "BNR";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55%; 
  margin-right: 25%;
  margin-top: 30px;
  height: 40px;
  padding-top: 100px;
}

.checkoutpurchasebtn:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  color: black;
}

.checkoutpurchasebtn{
  font-family: "BNR";
  font-size: 40px;
  background-color: black;
  color: white;
  height: 50px;
 ;
}

.checkoutpricetotal{
  min-width: 100px;
}


/* END OF CHECKOUT PAGE */





.bottomspace {
  width: 100%;
  height: 300px;
  display: block;
}

/* TEST */

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-track {
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 180px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #1a1a1a;
}
